.main {
  padding: 10px;
  margin: 15px;

  .grid {
    height: 100%;

    .left-column {
      display: flex;
      flex-direction: column;
      padding: var(--mantine-spacing-xs);
      height: 100%;

      .peers-menu {
        max-height: 63vh;
        min-height: 63vh;
      }
    }

    .right-column {
      display: flex;
      flex-direction: column;
      padding: var(--mantine-spacing-xs);
      height: 100%;
    }
  }
}
