// The layout is a column flexbox, so that header and layout is consequent and footer is pushed to the bottom
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    padding: var(--mantine-spacing-sm) 0;
  }

  footer {
    text-align: center;
    padding: var(--mantine-spacing-md) 0;
    margin: var(--mantine-spacing-md) 0;
  }
}
